In [58]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import string
import datetime

# from platform import python_version
# print(python_version())

## Exploratory Data Analysis

# Load file & count line
try:
    file = open('Manhattan12.csv','r')
    line_count = 0
    for line in file:
        line_count += 1
        
    print('file line count:', line_count)
except FileNotFoundError:
    print('File not found.')
except:
    print('File Exception.')

    
# Descriptive Analysis
# deletechars = str.maketrans(dict.fromkeys(string.punctuation))

# d = file.read()
# data = d.translate(deletechars)

# Load with Pandas - work with dataframe
df = pd.read_csv('Manhattan12.csv', parse_dates=['YEAR BUILT','SALE DATE'])
df.replace(' ', np.NaN)
df['YEAR BUILT'].replace(0, np.NaN)

print('\n\nDataTypes:')
print(df.dtypes)



# print isnull sim
sum = pd.isnull(df).sum()
print('\n\ndf isnull sum:')
print(sum)

# print df.shape
shape = df.shape
print ('\n\ndf shape:', shape)

print('\n\nData Description:')
df.describe()


# Visualise

# Cleanse & Re-Visualise

# Check max and min

# Highlight features of interest

file line count: 27396


DataTypes:
BOROUGH                                    int64
NEIGHBORHOOD                              object
BUILDING CLASS CATEGORY                   object
TAX CLASS AT PRESENT                      object
BLOCK                                      int64
LOT                                        int64
EASE-MENT                                float64
BUILDING CLASS AT PRESENT                 object
ADDRESS                                   object
APARTMENT NUMBER                          object
ZIP CODE                                   int64
RESIDENTIAL UNITS                         object
COMMERCIAL UNITS                           int64
TOTAL UNITS                               object
LAND SQUARE FEET                          object
GROSS SQUARE FEET                         object
YEAR BUILT                                object
TAX CLASS AT TIME OF SALE                  int64
BUILDING CLASS AT TIME OF SALE            object
SALE PRICE                                object
SALE DATE                         datetime64[ns]
dtype: object


df isnull sum:
BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING CLASS CATEGORY               0
TAX CLASS AT PRESENT                  0
BLOCK                                 0
LOT                                   0
EASE-MENT                         27395
BUILDING CLASS AT PRESENT             0
ADDRESS                               0
APARTMENT NUMBER                      0
ZIP CODE                              0
RESIDENTIAL UNITS                     0
COMMERCIAL UNITS                      0
TOTAL UNITS                           0
LAND SQUARE FEET                      0
GROSS SQUARE FEET                     0
YEAR BUILT                            0
TAX CLASS AT TIME OF SALE             0
BUILDING CLASS AT TIME OF SALE        0
SALE PRICE                            0
SALE DATE                             0
dtype: int64


df shape: (27395, 21)


Data Description:

,BOROUGH,BLOCK,LOT,EASE-MENT,ZIP CODE,COMMERCIAL UNITS,TAX CLASS AT TIME OF SALE
count,27395.0,27395.000000,27395.000000,0.0,27395.000000,27395.000000,27395.000000
mean,1.0,1109.666728,741.789086,NaN,10028.860120,0.374995,2.488118
std,0.0,465.994469,819.422424,NaN,69.959378,4.599586,0.891723
min,1.0,7.000000,1.000000,NaN,0.000000,0.000000,1.000000
25%,1.0,877.000000,37.000000,NaN,10016.000000,0.000000,2.000000
50%,1.0,1047.000000,1007.000000,NaN,10019.000000,0.000000,2.000000
75%,1.0,1411.000000,1233.000000,NaN,10027.000000,0.000000,4.000000
max,1.0,2250.000000,9117.000000,NaN,10463.000000,604.000000,4.000000

In [57]:
# Looking at data
df[['BOROUGH','BLOCK','YEAR BUILT']]

       BOROUGH  BLOCK YEAR BUILT
0            1    738          0
1            1    738          0
2            1    738          0
3            1    738          0
4            1    738          0
...        ...    ...        ...
27390        1   2170          0
27391        1   2180          0
27392        1   2180          0
27393        1   2180          0
27394        1   2180          0

[27395 rows x 3 columns]

In [ ]:
# Visualise

In [ ]:
# Cleanse & Re-Visualise

In [ ]:
# Check max and min

In [ ]:
# Highlight features of interest

In [26]:
## Model Building & Evaluating
#construct linear model

In [20]:
## Communicate Findings on Data - Report