In [1]:
## AFTER Cleansing 

# Imports
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import string
import datetime

# Uncomment following to check python version if in doubt
# from platform import python_version
# print(python_version())

## Exploratory Data Analysis


    
# Descriptive Analysis
# deletechars = str.maketrans(dict.fromkeys(string.punctuation))

# d = file.read()
# data = d.translate(deletechars)






# Visualise

# Cleanse & Re-Visualise

# Check max and min

# Highlight features of interest

In [2]:
# Load file & count line
try:
    file = open('Manhattan12.csv','r')
    line_count = 0
    for line in file:
        line_count += 1
        
    print('file line count:', line_count)
except FileNotFoundError:
    print('File not found.')
except:
    print('File Exception.')

file line count: 27396

In [3]:
# Load with Pandas - work with dataframe
df = pd.read_csv('Manhattan12.csv', parse_dates=['YEAR BUILT','SALE DATE'])
print('file loaded')

file loaded

In [4]:
# Data Cleaning
df = df.replace(' ', np.NaN)
df['YEAR BUILT'] = df['YEAR BUILT'].replace('0', np.NaN)
del df['EASE-MENT']#because it is empty

print('some cleaning performed')

some cleaning performed

In [5]:
# Looking at Data Types
print('\n\nDataTypes:')
print(df.dtypes)

DataTypes:
BOROUGH                                    int64
NEIGHBORHOOD                              object
BUILDING CLASS CATEGORY                   object
TAX CLASS AT PRESENT                      object
BLOCK                                      int64
LOT                                        int64
BUILDING CLASS AT PRESENT                 object
ADDRESS                                   object
APARTMENT NUMBER                          object
ZIP CODE                                   int64
RESIDENTIAL UNITS                         object
COMMERCIAL UNITS                           int64
TOTAL UNITS                               object
LAND SQUARE FEET                          object
GROSS SQUARE FEET                         object
YEAR BUILT                                object
TAX CLASS AT TIME OF SALE                  int64
BUILDING CLASS AT TIME OF SALE            object
SALE PRICE                                object
SALE DATE                         datetime64[ns]
dtype: object

In [6]:
# Looking at Null/Empty Values
sum = pd.isnull(df).sum()
print('\n\ndf isnull sum:')
print(sum)

df isnull sum:
BOROUGH                              0
NEIGHBORHOOD                         0
BUILDING CLASS CATEGORY              0
TAX CLASS AT PRESENT                 0
BLOCK                                0
LOT                                  0
BUILDING CLASS AT PRESENT            0
ADDRESS                              0
APARTMENT NUMBER                     0
ZIP CODE                             0
RESIDENTIAL UNITS                    0
COMMERCIAL UNITS                     0
TOTAL UNITS                          0
LAND SQUARE FEET                     0
GROSS SQUARE FEET                    0
YEAR BUILT                        6441
TAX CLASS AT TIME OF SALE            0
BUILDING CLASS AT TIME OF SALE       0
SALE PRICE                           0
SALE DATE                            0
dtype: int64

In [7]:
# print df.shape
shape = df.shape
print ('\n\ndf shape:', shape)

df shape: (27395, 20)

In [8]:
# Looking at the Data Description
print('\n\nData Description:')
description = df.describe(include='all')
index = description.index.tolist()
index[2] = 'mode'
index[10] = '50% (median)'
description.index = index
description

Data Description:

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
count,27395.0,27395,27395,27395,27395.000000,27395.000000,27395,27395,27395,27395.000000,27395,27395.000000,27395,27395,27395,20954,27395.000000,27395,27395,27395
unique,NaN,40,33,9,NaN,NaN,121,13860,2994,NaN,121,NaN,132,1284,1883,134,NaN,120,5293,353
mode,NaN,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,NaN,NaN,R4,870 7 AVENUE,,NaN,0,NaN,1,0,0,2007,NaN,R4,$0,2012-12-17 00:00:00
freq,NaN,6264,8480,18394,NaN,NaN,8384,2087,14570,NaN,16372,NaN,13772,22906,23069,2071,NaN,8480,7593,485
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-08 00:00:00
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-12-08 00:00:00
mean,1.0,NaN,NaN,NaN,1109.666728,741.789086,NaN,NaN,NaN,10028.860120,NaN,0.374995,NaN,NaN,NaN,NaN,2.488118,NaN,NaN,NaN
std,0.0,NaN,NaN,NaN,465.994469,819.422424,NaN,NaN,NaN,69.959378,NaN,4.599586,NaN,NaN,NaN,NaN,0.891723,NaN,NaN,NaN
min,1.0,NaN,NaN,NaN,7.000000,1.000000,NaN,NaN,NaN,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
25%,1.0,NaN,NaN,NaN,877.000000,37.000000,NaN,NaN,NaN,10016.000000,NaN,0.000000,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN
50% (median),1.0,NaN,NaN,NaN,1047.000000,1007.000000,NaN,NaN,NaN,10019.000000,NaN,0.000000,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN
75%,1.0,NaN,NaN,NaN,1411.000000,1233.000000,NaN,NaN,NaN,10027.000000,NaN,0.000000,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN
max,1.0,NaN,NaN,NaN,2250.000000,9117.000000,NaN,NaN,NaN,10463.000000,NaN,604.000000,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN

In [9]:
#drop NaN values from rows
df = df.dropna(axis=0)
df

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
17,1,ALPHABET CITY,,4,384,1401,RK,229 EAST 2ND STREET,1A,10009,0,0,1,0,0,2008,4,RK,"$360,000",2013-06-13
18,1,ALPHABET CITY,03 THREE FAMILY HOMES,1,377,66,C0,243 EAST 7TH STREET,,10009,3,0,3,"2,381","3,084",1899,1,C0,"$3,150,000",2013-06-03
19,1,ALPHABET CITY,04 TAX CLASS 1 CONDOS,1C,399,1102,R6,238 EAST 4TH STREET,-,10009,1,0,1,0,0,1955,1,R6,"$3,450,000",2013-03-27
20,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,374,1,C7,303 EAST 4TH STREET,,10009,8,2,10,"1,501","6,929",1900,2,C7,$0,2013-05-02
21,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,375,62,C4,715 EAST 5TH STREET,,10009,20,0,20,"2,426","9,345",1900,2,C4,"$3,650,000",2012-06-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27379,1,WASHINGTON HEIGHTS UPPER,28 COMMERCIAL CONDOS,4,2180,1228,RG,736 WEST 187 STREET,PRK28,10033,0,0,1,0,0,2003,4,R5,"$17,842",2012-10-15
27380,1,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2152,77,G9,2430 AMSTERDAM AVENUE,,10033,0,1,1,"17,925","5,226",1935,4,G9,"$6,000,000",2013-05-30
27381,1,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2152,77,G9,2430 AMSTERDAM AVENUE,,10033,0,1,1,"17,925","5,226",1935,4,G9,"$6,000,000",2013-01-31
27382,1,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2152,83,G9,2420 AMSTERDAM AVENUE,,10033,0,1,1,"15,000","2,465",1971,4,G9,"$12,000,000",2013-05-30
27386,1,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2246,43,G1,270 DYCKMAN STREET,,10034,0,2,2,"14,980","46,200",1929,4,G1,"$4,917,000",2012-11-09

In [10]:

# prices = df.get('SALE PRICE', pd.Series(index=df.index, name='Price'))
# prices = df['SALE PRICE'].(dtype=object)
# prices = np.asarray(df['SALE PRICE'])

#CONVERT SALE PRICE TO NUMERIC INSTEAD OF OBJECT
price_copy = df['SALE PRICE'];
print('price_copy\n',price_copy)
str_prices = price_copy.replace('[\$]','', regex=True)
print('\nremove "$"\n',str_prices)
str_prices = str_prices.replace(',','', regex = True)
print('\nremove ","\n',str_prices)
str_prices = str_prices.replace(regex=r'\b0\b', value=np.NaN)
print('\nremove "0"\n',str_prices)
num_prices = pd.to_numeric(str_prices) #To fix parsing error - ValueError: Unable to parse string "$360,000" at position 0
print('\nprice to numeric\n',num_prices)
# df.loc['SALE PRICE'] = df['SALE PRICE'].replace('$0', np.NaN)
df.loc['SALE PRICE'] = num_prices


ln_prices = np.log10(num_prices)
df = df.assign(LN_PRICE=ln_prices)
df = df.dropna()
df

price_copy
 17          $360,000
18        $3,150,000
19        $3,450,000
20                $0
21        $3,650,000
            ...
27379        $17,842
27380     $6,000,000
27381     $6,000,000
27382    $12,000,000
27386     $4,917,000
Name: SALE PRICE, Length: 20954, dtype: object

remove "$"
 17          360,000
18        3,150,000
19        3,450,000
20                0
21        3,650,000
            ...
27379        17,842
27380     6,000,000
27381     6,000,000
27382    12,000,000
27386     4,917,000
Name: SALE PRICE, Length: 20954, dtype: object

remove ","
 17         360000
18        3150000
19        3450000
20              0
21        3650000
           ...
27379       17842
27380     6000000
27381     6000000
27382    12000000
27386     4917000
Name: SALE PRICE, Length: 20954, dtype: object

remove "0"
 17         360000
18        3150000
19        3450000
20            NaN
21        3650000
           ...
27379       17842
27380     6000000
27381     6000000
27382    12000000
27386     4917000
Name: SALE PRICE, Length: 20954, dtype: object

price to numeric
 17         360000.0
18        3150000.0
19        3450000.0
20              NaN
21        3650000.0
            ...
27379       17842.0
27380     6000000.0
27381     6000000.0
27382    12000000.0
27386     4917000.0
Name: SALE PRICE, Length: 20954, dtype: float64

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,...,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,LN_PRICE
17,1.0,ALPHABET CITY,,4,384.0,1401.0,RK,229 EAST 2ND STREET,1A,10009.0,...,0.0,1,0,0,2008,4.0,RK,"$360,000",2013-06-13,5.556303
18,1.0,ALPHABET CITY,03 THREE FAMILY HOMES,1,377.0,66.0,C0,243 EAST 7TH STREET,,10009.0,...,0.0,3,"2,381","3,084",1899,1.0,C0,"$3,150,000",2013-06-03,6.498311
19,1.0,ALPHABET CITY,04 TAX CLASS 1 CONDOS,1C,399.0,1102.0,R6,238 EAST 4TH STREET,-,10009.0,...,0.0,1,0,0,1955,1.0,R6,"$3,450,000",2013-03-27,6.537819
20,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,374.0,1.0,C7,303 EAST 4TH STREET,,10009.0,...,2.0,10,"1,501","6,929",1900,2.0,C7,$0,2013-05-02,NaN
21,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,375.0,62.0,C4,715 EAST 5TH STREET,,10009.0,...,0.0,20,"2,426","9,345",1900,2.0,C4,"$3,650,000",2012-06-09,6.562293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27379,1.0,WASHINGTON HEIGHTS UPPER,28 COMMERCIAL CONDOS,4,2180.0,1228.0,RG,736 WEST 187 STREET,PRK28,10033.0,...,0.0,1,0,0,2003,4.0,R5,"$17,842",2012-10-15,4.251444
27380,1.0,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2152.0,77.0,G9,2430 AMSTERDAM AVENUE,,10033.0,...,1.0,1,"17,925","5,226",1935,4.0,G9,"$6,000,000",2013-05-30,6.778151
27381,1.0,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2152.0,77.0,G9,2430 AMSTERDAM AVENUE,,10033.0,...,1.0,1,"17,925","5,226",1935,4.0,G9,"$6,000,000",2013-01-31,6.778151
27382,1.0,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2152.0,83.0,G9,2420 AMSTERDAM AVENUE,,10033.0,...,1.0,1,"15,000","2,465",1971,4.0,G9,"$12,000,000",2013-05-30,7.079181
27386,1.0,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2246.0,43.0,G1,270 DYCKMAN STREET,,10034.0,...,2.0,2,"14,980","46,200",1929,4.0,G1,"$4,917,000",2012-11-09,6.691700

In [11]:
df.describe(include=[np.number])

,BOROUGH,BLOCK,LOT,ZIP CODE,COMMERCIAL UNITS,TAX CLASS AT TIME OF SALE,LN_PRICE
count,20954.0,20954.000000,20954.000000,20954.000000,20954.000000,20954.000000,16287.000000
mean,1.0,1125.502338,568.544669,10029.774363,0.482581,2.282285,5.859866
std,0.0,492.073441,791.773978,35.391957,5.253822,0.748000,0.747491
min,1.0,7.000000,1.000000,10001.000000,0.000000,1.000000,0.000000
25%,1.0,851.000000,27.000000,10014.000000,0.000000,2.000000,5.626340
50%,1.0,1140.000000,52.000000,10021.000000,0.000000,2.000000,5.886491
75%,1.0,1444.000000,1111.000000,10028.000000,0.000000,2.000000,6.224015
max,1.0,2250.000000,9117.000000,10463.000000,604.000000,4.000000,9.116596

In [12]:
# Looking at data
df

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,...,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,LN_PRICE
17,1.0,ALPHABET CITY,,4,384.0,1401.0,RK,229 EAST 2ND STREET,1A,10009.0,...,0.0,1,0,0,2008,4.0,RK,"$360,000",2013-06-13,5.556303
18,1.0,ALPHABET CITY,03 THREE FAMILY HOMES,1,377.0,66.0,C0,243 EAST 7TH STREET,,10009.0,...,0.0,3,"2,381","3,084",1899,1.0,C0,"$3,150,000",2013-06-03,6.498311
19,1.0,ALPHABET CITY,04 TAX CLASS 1 CONDOS,1C,399.0,1102.0,R6,238 EAST 4TH STREET,-,10009.0,...,0.0,1,0,0,1955,1.0,R6,"$3,450,000",2013-03-27,6.537819
20,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,374.0,1.0,C7,303 EAST 4TH STREET,,10009.0,...,2.0,10,"1,501","6,929",1900,2.0,C7,$0,2013-05-02,NaN
21,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,375.0,62.0,C4,715 EAST 5TH STREET,,10009.0,...,0.0,20,"2,426","9,345",1900,2.0,C4,"$3,650,000",2012-06-09,6.562293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27379,1.0,WASHINGTON HEIGHTS UPPER,28 COMMERCIAL CONDOS,4,2180.0,1228.0,RG,736 WEST 187 STREET,PRK28,10033.0,...,0.0,1,0,0,2003,4.0,R5,"$17,842",2012-10-15,4.251444
27380,1.0,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2152.0,77.0,G9,2430 AMSTERDAM AVENUE,,10033.0,...,1.0,1,"17,925","5,226",1935,4.0,G9,"$6,000,000",2013-05-30,6.778151
27381,1.0,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2152.0,77.0,G9,2430 AMSTERDAM AVENUE,,10033.0,...,1.0,1,"17,925","5,226",1935,4.0,G9,"$6,000,000",2013-01-31,6.778151
27382,1.0,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2152.0,83.0,G9,2420 AMSTERDAM AVENUE,,10033.0,...,1.0,1,"15,000","2,465",1971,4.0,G9,"$12,000,000",2013-05-30,7.079181
27386,1.0,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2246.0,43.0,G1,270 DYCKMAN STREET,,10034.0,...,2.0,2,"14,980","46,200",1929,4.0,G1,"$4,917,000",2012-11-09,6.691700

In [13]:
# Visualise
df.loc['SALE PRICE']
df.groupby('NEIGHBORHOOD')['SALE PRICE'].mean()

KeyError: 'SALE PRICE'

In [ ]:
# Cleanse & Re-Visualise

In [ ]:
# Check max and min

In [ ]:
# Highlight features of interest

In [ ]:
## Model Building & Evaluating
#construct linear model

In [ ]:
## Communicate Findings on Data - Report

In [ ]:
################## Data Description Before Cleansing ###################
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import string
import datetime

# from platform import python_version
# print(python_version())

## Exploratory Data Analysis

# Load file & count line
try:
    file = open('Manhattan12.csv','r')
    line_count = 0
    for line in file:
        line_count += 1
        
    print('file line count:', line_count)
except FileNotFoundError:
    print('File not found.')
except:
    print('File Exception.')

    
# Descriptive Analysis
# deletechars = str.maketrans(dict.fromkeys(string.punctuation))

# d = file.read()
# data = d.translate(deletechars)

# Load with Pandas - work with dataframe
df = pd.read_csv('Manhattan12.csv', parse_dates=['YEAR BUILT','SALE DATE'])

print('\n\nDataTypes:')
print(df.dtypes)



# print isnull sim
sum = pd.isnull(df).sum()
print('\n\ndf isnull sum:')
print(sum)

# print df.shape
shape = df.shape
print ('\n\ndf shape:', shape)

print('\n\nData Description:')
df.describe(include='all')


# Visualise

# Cleanse & Re-Visualise

# Check max and min

# Highlight features of interest